.admin-auth {
    display: flex;
    justify-content: center;
}


input {
    width: 250px;
    margin-bottom: 10px;
}
input[type=submit] {
    width: 195px;
}
input[type=submit]:hover {
    width: 195px;
}
select {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0deg 0% 100%);
    background-color: hsl(0deg 0% 0% / 15%);
    background-clip: padding-box;
    border: 1px solid hsl(0deg 0% 100% / 15%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
option {
    background-color: #232323;
    height: 100%;
    width: 100%;
}
.btn-del {
    width: 40px;
    height: 40px;
    z-index: 1;
    position: relative;
}
.btn-del:hover {
    cursor: grab;
    opacity: 0.5;
}
