.tovar {
    background-color: #030303;
    padding-left: 3%;
    padding-right: 3%;
}
.opisanie {
    background-color: #1B1B1B;
}

section.one {
    padding-bottom: 0px;
}
.galery {
    height: 80vh;
    width: 35%;
}
.bodyGalery {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-bottom: 3%;
    width: 55%;
    height: 100%;
}
.galery-foto {
    margin: 3px;
}

.swiperTovarMini {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.swiperTovarMini.swiper-slide-thumb-active {
    opacity: 1;
}
.swiperTovarMini.swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.swiperTovar {
    height: 80%;
    width: 100%;
}


.tovar-text > p {
    font-style: italic;
}
#opis {
    cursor: pointer;
    margin-right: 20px;
    font-size: 26;
}
#receivs{
    cursor: pointer;
    font-size: 26;
}
#opis:hover {
    color: blue;
}
#receivs:hover {
    color: blue;
}

.button-pay {
    cursor: pointer;
    text-align: center;
    background-color: #565B90;
    color: white;
    width: 40%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    margin-left: 10%;
}
.button-pay:hover {
    background-color: #565b9071;
    color: brown;
}

/* reload */
.tovar-img {
    flex: 1;
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}
.foto-add {
    padding-top: 1%;
}
.foto-add:hover {
    cursor: pointer;
    opacity: 0.7;
}